.main_container {
  display: flex;
  flex-direction: column;
}
.highlight {
  font-weight: bold;
  color: var(--green-dull);
}

.language_container {
  color: var(--dark-ash);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  display: flex;
}

.hobby_text {
  color: var(--green-bright);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  font-style: italic;
}
