.company {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
}
.company:last-child {
  margin-bottom: 0;
}
.grid {
  display: flex;
  align-items: stretch;
  gap: 15px;
  width: 180px;
  flex-shrink: 0;
}
.company_name {
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--green-bright);
}

.bar {
  background-color: var(--dark-ash);
  width: 2px;
  align-self: stretch;
}

.description {
  width: 60%;
}

.position {
  font-weight: bold;
  color: var(--green-bright);
}

.role {
  color: var(--ash);
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px 0;
}

.timeline {
  color: var(--dark-ash);
  font-family: Arial, Helvetica, sans-serif;
}

.bullets {
  padding-left: 10px;
  color: var(--dark-ash);
  font-weight: bold;
  font-size: 13px;
}

.bullets li {
  margin-top: 18px;
  line-height: 2;
}

.bullets li::marker {
  color: var(--green-bright);
}

@media only screen and (max-width: 550px) {
  .position {
    font-size: 16px;
  }
  .timeline {
    font-size: 10px;
  }
  .bullets {
    font-size: 12px;
  }
}
